# Timestamp

timestap: Generally converts strings into timestamps that can be recognised by python intrepreter. It has other functionalities too, but lets see them ahead.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Lets see one method of to create timestamps. That converting strings to create timestamps.
timestring="9 Aug 2023, 9:10AM"
#We above have the predeclared timestring, lets see how we convert it into time stamp
timestamp1=pd.Timestamp(timestring)
timestamp1

Timestamp('2023-08-09 09:10:00')

In [3]:
#Lets see another methods of creating a timestamp. That is using the default syntax call of Timestamp function.
timestamp2=pd.Timestamp(2022,8,9,9,34,23)
timestamp2

Timestamp('2022-08-09 09:34:23')

Let talk about a few other functions offered by the timestamp functionality. Lets talk about __isoweekday__ and elementary time stamps like __second__, __hour__, __minute__ and etc.

In [4]:
#Let see the general syntax of using isoweekday
timestamp2.isoweekday()
#Now this function will return a number. Now this number will actually represent a day. 1 for Monday, 2 for Tuesday and so on.

2

Hence its a tuesday for the given timestamp.

In [5]:
#Lets see a few elementary functions.
#Minutes
timestamp1.minute

10

In [6]:
#Hours
timestamp1.hour

9

And so on we can continue generating the elements.

# Period
Now period is a pandas date time functionality that helps us express a particular time span, such as date, month or a year. It actually helps in the carrying out mathematical functionalities on timestamps.

In [7]:
#Lets see two examples understand how does this work.
#Example 1
pd.Period('2016/1')

Period('2016-01', 'M')

In [8]:
#Example2
pd.Period('2016/1/5')

Period('2016-01-05', 'D')

Note that above we are getting a tuple of two elements. The first element of the tuple is containing the timestamp itself. The second element of tuple contains what we call granularity which shows the most smallest and accurate piece of info available to us in the timestamp. For example, for timestamp1 the most accurate and smallest piece of info was month, while for the second timestamp, its was day.


While we are at it lets discuss some important functionality provided by Period Function of the pandas library.

In [9]:
pd.Period('2016/1')+2

Period('2016-03', 'M')

In [13]:
pd.Period('2016/1/5')+2

Period('2016-01-07', 'D')

So you saw something above. What we did was adding the Period object with integers.

Here are a few inferences we need to note.

1) When arithematic operation will be conducted we will see that the granular element and the external number will add up.

2) Rest of the element will remain unaffected.

For instance in case1 only the month element changed while the year element remain unaffected.

Meanwhile in the second example, the day element changed while the month and year element remained unaffected.

# DatetimeIndex
Well the index made up of Time stamps is called Date Time Index.


Lets see an example where we are creating a series object whose index will be timestamps.

In [16]:
newSeries=pd.Series(['a','b','c'],index=[pd.Timestamp('2016/8/1'),pd.Timestamp('2016/8/2'),pd.Timestamp('2016/8/2')])
newSeries

2016-08-01    a
2016-08-02    b
2016-08-02    c
dtype: object

Let check the dtype of the indexes.

In [17]:
type(newSeries.index)

pandas.core.indexes.datetimes.DatetimeIndex

As observable the datatype of the indexes is __DatetimeIndex__.


Its nothing new here but another way of creating a series. Lets look at it.

In [22]:
newSeries1=pd.Series(list('abc'),[pd.Timestamp('2016/8/1'),pd.Timestamp('2016/8/2'),pd.Timestamp('2016/8/2')])

In [23]:
newSeries1

2016-08-01    a
2016-08-02    b
2016-08-02    c
dtype: object

Right? So let move ahead.

# PeriodIndex

So as we know that the series/dataframe indexes made of Period object are refered as PeriodIndex. Know that its creating is same as that of DatetimeIndex with only creating functions changing.

In [24]:
newSeries2=pd.Series(['a','b','c'],index=[pd.Period("2016/8/1"),pd.Period("2016/8/2"),pd.Period("2016/8/3")])

In [25]:
newSeries2

2016-08-01    a
2016-08-02    b
2016-08-03    c
Freq: D, dtype: object

In [26]:
type(newSeries2.index)

pandas.core.indexes.period.PeriodIndex

As observable the indexes are of the datatype __PeriodIndex__

# From Timestamp To DateTime.

Well we have worked a lot with series. Let create a dataframe for a change.

In [35]:
newDataFrame=pd.DataFrame(np.random.randint(10,100,(4,2)),index=["2016/2/1","1st Sep 2016","1-8-2016","2016/2/1"],columns=['a','b'])

In [36]:
newDataFrame

               a   b
2016/2/1      57  22
1st Sep 2016  19  42
1-8-2016      27  76
2016/2/1      21  82

Lets understand what happened above and lets also understand what we need to do here. So we created a dataframe with indexes created out of strings, supposedly posing to be dates in different format. Since it looks uneven our task is to convert this into datatime object to give it a more uniform look.


For doing that what we do is we use the function __to_datetime(< Dataframe >.column/row)__. Lets see a few examples to understand this fully.

In [37]:
# Converting the dtype of index of "newDataframe" from string to "datetime".
newDataFrame.index=pd.to_datetime(newDataFrame.index)

In [38]:
newDataFrame

             a   b
2016-02-01  57  22
2016-09-01  19  42
2016-01-08  27  76
2016-02-01  21  82

As observable we now have a new uniform datetime dtype imparted to index of newDataFrame.